form{
    text-align: left;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
  }
button{
    display: block;
    width: auto;
    margin-left: 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 400px;
    background-color: #4d4b4b52;
    padding-left: 3px;
}

